<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>cleanergy.webill.uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GPSReader</servlet-name>
        <servlet-class>cleanergy.webill.GPSReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QrReader</servlet-name>
        <servlet-class>QrReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUploaded</servlet-name>
        <servlet-class>cleanergy.webill.ShowUploaded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cleanergy.webill.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mysql</servlet-name>
        <servlet-class>cleanergy.webill.mysql</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaMySQLSelect</servlet-name>
        <servlet-class>cleanergy.webill.JavaMySQLSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listusers</servlet-name>
        <servlet-class>cleanergy.webill.listusers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testqrcode</servlet-name>
        <servlet-class>cleanergy.webill.testqrcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testvalidate</servlet-name>
        <servlet-class>cleanergy.webill.testvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>cleanergy.webill.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>cleanergy.webill.AddCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GPSReader</servlet-name>
        <url-pattern>/GPSReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QrReader</servlet-name>
        <url-pattern>/QrReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUploaded</servlet-name>
        <url-pattern>/ShowUploaded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mysql</servlet-name>
        <url-pattern>/mysql</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaMySQLSelect</servlet-name>
        <url-pattern>/JavaMySQLSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listusers</servlet-name>
        <url-pattern>/listusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testqrcode</servlet-name>
        <url-pattern>/testqrcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testvalidate</servlet-name>
        <url-pattern>/testvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
